/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/* General styles */
html, body {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1em;
}

.center {
    text-align: center;
}

/* "Grid" */
.grid {
    overflow: auto;
}
@media screen and (min-width: 800px) {
    .half {
        float: left;
        width: 50%;
    }
}

/* Buttons */
.button {
    background-color: #e74c3c;
    color: white;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em 1em;
    text-decoration: none;
    transition: all .1s ease-out;
}

.button:hover,
.button:focus {
    background-color: #c0392b;
}

.button:active {
    transform: scale(0.98);
}

.button + .button {
    margin-top: 0.5em;
}

@media screen and (min-width: 800px) {
    .button + .button {
        margin-left: 0.5em;
    }
}

/* Typography */
p {
    line-height: 1.475;
}

.lead {
    font-size: 1.25em;
}

/* Lists */

/* Code examples */
pre {
    background-color: #444;
    color: white;
    display: block;
    padding: 1em;
    overflow: auto;
}

/* Masthead */
.masthead {
    align-items: center;
    background: radial-gradient(circle at top left, #16a085 0%, #1abc9c 100%);
    color: white;
    display: flex;
    height: 60vh;
}

.masthead h1 {
    font-size: 500%;
    margin: 0;
}

/* Content */
.content {
    background: radial-gradient(circle at top left, #ecf0f1 0%, #f2f2f2 100%);
    padding: 1em 0;
}

.content:nth-of-type(odd) {
    background: white;
}


/* Basic table styling */
.sticky-wrap {
    margin-top: 3em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-weight: bold;
    padding: 0.5em 1em;
    text-align: left;
}

th, td {
    padding: 0.5em 1em;
    white-space: nowrap;
}
th {
    color: #fff;
    font-weight: normal;
    text-align: left;
}
thead th {
    background-color: #16a085;
}
tbody th {
    background-color: #1abc9c;
    border-bottom: 1px solid #16a085;
}

tr {
    background-color: #fff;
}

tr:nth-of-type(2n) {
    background-color: #eee;
}
